In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("TherapistDataset.csv")

In [6]:
pd.set_option("display.max_rows",None)

In [10]:
df.head()

,id,City,Id,Name,Fees,Experience,Contact,Website,AvailDay,Address
0,0,Hyderabad,0,Cimhans - Cognizance Institute Of Mental Healt...,800,0,-9152660538,http://www.cimhans.com/,Monday Tuesday Wednesday Thursday Friday Satur...,"Plot No 20, INR Complex, High Tension Line Roa..."
1,1,Hyderabad,1,Dr. Col R Shashikumar,1250,24,-9152150099,http://www.psychiatryawareness.in/,Monday Tuesday Wednesday Thursday Friday Satur...,"House No 42, Chikoti Gardens Lane, Begumpet, H..."
2,2,Hyderabad,2,Cimhans-Cognizance Institute Of Mental Health ...,100,0,-9152969650,http://www.cimhans.in/,Monday Tuesday Wednesday Thursday Friday Satur...,"H No 256 Kiran Nilayam, Aparnahills Roadd, PJR..."
3,3,Hyderabad,3,New Life Counseling Center,1000,0,-9152244868,http://www.isthydindia.com/,Monday Tuesday Wednesday Thursday Friday Satur...,"Road No 25, Mp & Mla Colony, Jubilee Hills, Hy..."
4,4,Hyderabad,4,Chetana Hospital,900,0,-9152199734,http://www.chetanahospital.com/,Monday Tuesday Wednesday Thursday Friday Satur...,"Minister Road, Secunderabad, Hyderabad - 50000..."

In [11]:
df['Contact']=df['Contact'].apply(lambda x:x*-1)

In [12]:
df["Contact"]

0      9152660538
1      9152150099
2      9152969650
3      9152244868
4      9152199734
5      9152179083
6      9152331921
7        40023949
8      7287012132
9      9866213032
10     9152189673
11     9152378441
12     9152187849
13     9989585095
14     9866921997
15       23488949
16     8107911820
17     9152783698
18       27761061
19       49336648
20       23700480
21     9052709909
22       24340193
23       33855504
24     9701003242
25     9152837284
26     9830277516
27     9152760927
28     9152106650
29     9152224618
30     9830275768
31     9152300303
32     9152123438
33     9940217372
34     9152553658
35     9152380992
36     9152176273
37     9152176273
38       28224013
39       47450952
40     9152962757
41     9152191826
42       22641175
43       26511066
44     9152321120
45       28158624
46     8107911820
47     9152783698
48     9152376736
49     9152784337
50     9820708228
51     9152234677
52     9152701671
53     9152271296
54     9152959520
55     9152959520
56     9152287706
57     9152191934
58     9820199412
59       28651461
60     9152235504
61     9152676734
62     9152467546
63     9152761463
64       26287719
65     8928806116
66     9967342955
67     9152750697
68     9152350833
69     9945208436
70     9152365138
71     9152381922
72     9152388271
73     9152111166
74     9152827193
75     8107911820
76       23608877
77     9152423581
78     9152322555
79       41556144
80       26601707
81     9152783698
82     9620552582
83       46645544
84       25214603
85       22277968
86       26995389
87       23358100
88       28393381
89     9741897033
90     9152289880
91     9152276746
92     9152928757
93     9152109837
94     9152308452
95     9152104240
96     9152631617
97       24443769
98     9152342533
99     9152447468
100    9152423685
101    9152423194
102    9152461026
103    9765585461
104    9822842822
105      26128274
106    9152240715
107    9152952475
108    8359064075
109    9152407334
110      24578828
111    7004642879
112    9152790580
113    9939009614
114    9152527341
115    9031930406
116    9152783698
117    8107911820
118    9386816584
119    9113314869
120       2451109
121    7992436030
122    9152696060
123    9152451593
124    9152266076
125    9152951070
126    9152164288
127    9152272299
128      79621319
129    9152449049
130    9152480755
131    9891055167
132    9152295517
133    9152480755
134      49878216
135    9152225731
136    9152467663
137    9152225731
138    9152132166
Name: Contact, dtype: int64